// Inicialização do SP e segmentos
push constant 256   // Endereço inicial da pilha
pop pointer 0       // Define SP para 256
push constant 300   // Endereço inicial de LCL
pop pointer 1       // Define LCL
push constant 400   // Endereço inicial de ARG
pop pointer 2       // Define ARG
push constant 500   // Endereço inicial de THIS
pop pointer 3       // Define THIS
push constant 600   // Endereço inicial de THAT
pop pointer 4       // Define THAT

// Executa pop e push commands.
push constant 10
pop local 0

push constant 21
push constant 22
pop argument 2
pop argument 1

push constant 36
pop this 6

push constant 42
push constant 45
pop that 5
pop that 2

push constant 510
pop temp 6

push local 0
push that 5
add

push argument 1
sub

push this 6
push this 6
add

sub

push temp 6
add
