// Inicializa o Stack Pointer (SP) e os segmentos corretamente
push constant 256   
pop pointer 0       // SP começa em 256

push constant 300   
pop pointer 1       // LCL começa em 300

push constant 400   
pop pointer 2       // ARG começa em 400

push constant 3000   
pop pointer 3       // THIS começa em 3000

push constant 3010   
pop pointer 4       // THAT começa em 3010

// Teste de acesso à memória
push constant 10
pop local 0

push constant 21
push constant 22
pop argument 2
pop argument 1

push constant 36
pop this 6

push constant 42
push constant 45
pop that 5
pop that 2

push constant 510
pop temp 6  // Temp 6 (R11) está dentro do intervalo válido

push local 0
push that 5
add

push argument 1
sub

push this 6
push this 6
add

sub

push temp 6
add
